body {
	font-family: "ＭＳ Ｐゴシック",sans-serif;
}
h1 {
	text-align: center;
	color: #c03;
	font-size: 1.3em;
}
h2 , h3 {
	font-family: "Times New Roman",serif;
	font-size: 1.1em;
}
.text {
	text-indent: 1em;
}
.text::first-letter {
	font-size: 2em;
	color: #c30;
}
.text em{
	font-style: normal;
	color: #c30;
}
.text strong {
	font-weight: normal;
	text-decoration: underline;
	color: #c30;
}
#inyou {
	font-size: 12px;
	text-align: right;
	font-family: monospace;
}